<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
Soluta esse, provident saepe rerum cum officia similique ad aperiam 
facilis optio tempora ipsum velit libero consectetur. Vitae facere porro quo, 
aliquid exercitationem ea fugiat eos sunt dolorem dolores facilis ullam nesciunt 
blanditiis consequuntur eligendi quisquam officiis id laudantium soluta libero? 
Impedit rerum quis odio natus, voluptatum reiciendis dicta eaque quibusdam atque 
nihil repellat vel illo mollitia quaerat doloremque eveniet eos.</p><p> Sequi id voluptates 
neque recusandae obcaecati nam enim, sint, suscipit fuga itaque, quo eveniet! Adipisci 
vitae debitis quis aut odio ut voluptate laboriosam voluptates ducimus sapiente molestiae 
officia aspernatur labore corporis fugit sed, quam quos sit omnis necessitatibus!</p><p>
Dignissimos excepturi fugit dolorum similique blanditiis, ducimus illum ea eum quibusdam. 
Atque blanditiis incidunt corporis rerum veritatis facilis sit aliquid nam culpa autem! 
Mollitia esse quam recusandae fugit, excepturi tempore quasi ipsa architecto culpa et 
itaque distinctio, iste, voluptatum voluptates sed debitis dolorem.</p>

Post::create ([
'title' => 'Judul Kedua',

'slug' => 'judul-Kedua',

'excerpt' => 'Lorem ipsum kedua.',

'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
Soluta esse, provident saepe rerum cum officia similique ad aperiam 
facilis optio tempora ipsum velit libero consectetur. Vitae facere porro quo,   aliquid exercitationem ea fugiat eos sunt dolorem dolores facilis ullam nesciunt 
blanditiis consequuntur eligendi quisquam officiis id laudantium soluta libero? 
Impedit rerum quis odio natus, voluptatum reiciendis dicta eaque quibusdam atque 
nihil repellat vel illo mollitia quaerat doloremque eveniet eos.</p><p> Sequi id voluptates 
neque recusandae obcaecati nam enim, sint, suscipit fuga itaque, quo eveniet! Adipisci 
vitae debitis quis aut odio ut voluptate laboriosam voluptates ducimus sapiente molestiae 
officia aspernatur labore corporis fugit sed, quam quos sit omnis necessitatibus!</p><p>
Dignissimos excepturi fugit dolorum similique blanditiis, ducimus illum ea eum quibusdam. 
Atque blanditiis incidunt corporis rerum veritatis facilis sit aliquid nam culpa autem! 
Mollitia esse quam recusandae fugit, excepturi tempore quasi ipsa architecto culpa et 
itaque distinctio, iste, voluptatum voluptates sed debitis dolorem.</p>'

])
